@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-01: #7674FC;
    --cor-02: #004BFA;
    --cor-03: #0400FA;
    --cor-04: #A800FA;
    --cor-05: #5600FA;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins';
}

body 
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(120deg, #342668, #412f83, #543ca8, #7e5aff);
}

header
{
    width: 100%;
}

.header-container
{
    min-width: 100%;
    min-height: 70px;
    max-height: 130px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(236, 230, 230);
    
}

.header-container .logo 
{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.header-container .logo img
{
    width: 100%;
    height: 100%;
    display: block;
    
}

ul
{
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 8px;
}
ul li a
{
    text-decoration: none;
}