@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-01: #7674FC;
    --cor-02: #004BFA;
    --cor-03: #0400FA;
    --cor-04: #A800FA;
    --cor-05: #5600FA;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins';
}

body 
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(120deg, #342668, #412f83, #543ca8, #7e5aff);
}

header
{
    height: 6.5rem;
    width: 100%;
}

.header-container
{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
}

logo 
{
    height: 100%;
}
img {
    width: 11rem;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul 
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

li a
{
    text-decoration: none;
    color: #543ca8;
    transition: 0.1s ease-in-out;
    border-radius: 3px;
}

li a:hover 
{
    color: #4f05d8;
    transform: scale(105);
    border-bottom: 2px solid #4f05d8;
}

.active
{
    color: #4f05d8;
    border-bottom: 2px solid #4f05d8;
}

.btn-in-out
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.logout
{
    background-color: rgb(0, 0, 0);
    padding: 5px 7px;
    color: white;
    border-radius: 10px;
    transition: .1s ease-in-out;
    
}
.login
{
    padding: 5px 7px;
    color: black;
    border-radius: 10px;
    transition: .1s ease-in-out;
    font-weight: bold;
}
.btn-in-out .logout:hover 
{
    background-color: #4e4e4e;
    color: #ffffff;
}
.btn-in-out .login:hover {
    color: #4e4e4e;
}




main 
{
    width: 90vw;
    background-color: rgb(231, 231, 243);
    margin: 0 auto;
    padding: 20px;
    
}

h1 {
    font-size: 1.6rem;
    width: 15rem;
    color: #4004b1;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: 1px solid ;
    border-radius: 3px;
}

.container-nav
{
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 3rem;
    gap: 8rem;
}

.booksExplorer
{
    display: flex;
    align-items: center;
    gap: 14px;
    height: 100%; 
}

.containerExplorer
{
    display: flex;
    flex-direction: column;
}

.booksExplorer label
{
    font-size: 1.1rem;
    color: #4f05d8;
    align-self: start;
}

.booksExplorer input
{
    padding: 7px;
    border-radius: 10px;
    width: 18rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
    transition: .1s ease-in-out;
}

.booksExplorer input:focus
{
    border: 2px solid #4f05d8;
}


.booksGenres {
    display: flex;
    align-items: center;
    gap: 14px;
    height: 100%;

}
.containerGenres
{
    display: flex;
    flex-direction: column;
}

.booksGenres label
{
    font-size: 1.1rem;
    color: #4f05d8;
    align-self: start;
}

.booksGenres select
{
    padding: 7px;
    border-radius: 10px;
    width: 18rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}
.booksGenres select:focus
{
    border: 2px solid #4f05d8;
}

.booksGenres select option
{
    color: #ffffff;
    background-color: #4f05d8;
}

.btn-aplicar
{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 20px;
}

.btn-aplicar button
{
    padding: 7px;
    background-color: #5600FA;
    color: white;
    border-radius: 10px;
    transition: .1s ease-in-out;
}

.btn-aplicar button:hover 
{
    background-color: #3e02af;
}

.list-books
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

.item-default
{
    width: 30%;
    background-color: #e0dbdb;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.075);
}
.item-default img
{
    border-radius: 10px;
    width: 14rem;
    display: block;
    margin: 10px auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.075);
    
}

.information
{
    background-color: white;
    border-radius: 10px;
    padding: 10px 13px;
    width: 100%;
}

.information p
{
    font-size: .9rem;
}

.information h3
{
    margin-bottom: 10px;
    color: #272626;
}

.information strong {
    font-size: .8rem;
    color: black;
}

.information i
{
    margin-top: 20px;
    font-weight: 600;
    color: #1c1538;
}

footer {
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

footer a, strong
{
    text-decoration: none;
    font-weight: bold;
    color: rgb(36, 23, 95);
    transition: .3s ease-in-out;
}

footer a:hover 
{
    text-decoration: underline;
    color: rgb(26, 16, 66);
}