@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-01: #7674FC;
    --cor-02: #004BFA;
    --cor-03: #0400FA;
    --cor-04: #A800FA;
    --cor-05: #5600FA;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins';
}

body 
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(120deg, #342668, #412f83, #543ca8, #7e5aff);
}

header
{
    height: 6.5rem;
    width: 100%;
}

.header-container
{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
}

logo 
{
    height: 100%;
}
img {
    width: 11rem;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul 
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

li a
{
    text-decoration: none;
    color: #543ca8;
    transition: 0.1s ease-in-out;
    border-radius: 3px;
}

li a:hover 
{
    color: #4f05d8;
    transform: scale(105);
    border-bottom: 2px solid #4f05d8;
}

.active
{
    color: #4f05d8;
    border-bottom: 2px solid #4f05d8;
}

.btn-in-out
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.logout
{
    background-color: rgb(0, 0, 0);
    padding: 5px 7px;
    color: white;
    border-radius: 10px;
    transition: .1s ease-in-out;
    
}
.login
{
    padding: 5px 7px;
    color: black;
    border-radius: 10px;
    transition: .1s ease-in-out;
    font-weight: bold;
}
.btn-in-out .logout:hover 
{
    background-color: #4e4e4e;
    color: #ffffff;
}
.btn-in-out .login:hover {
    color: #4e4e4e;
}

footer {
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

footer a, strong
{
    text-decoration: none;
    font-weight: bold;
    color: rgb(36, 23, 95);
    transition: .3s ease-in-out;
}

footer a:hover 
{
    text-decoration: underline;
    color: rgb(26, 16, 66);
}






main 
{
    width: 70vw;
    background-color: rgb(231, 231, 243);
    margin: 0 auto;
    padding: 20px 10px 20px 20px;   
}

.container-book
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h1
{
    font-size: 1.6rem;
    width: 15rem;
    color: #4004b1;
    margin-bottom: 1.5rem;
    text-align: center;
    border-bottom: 1px solid ;
    border-radius: 3px;
}

form {
    width: 100%;
}

.form-register
{
    width: 100%;
    height: 100%;
    display: flex; 
}

.section-one 
{
    margin-left: 20px;
}

.section-one, .section-two
{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10 20px;
}

.form-register label 
{
    font-size: 1.1rem;
    color: #4f05d8;
    align-self: start;
    margin-top: 10px;
    font-weight: 600;
}
.form-register input 
{
    width: 90%;
    padding: 10px 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}
.form-register input:focus
{
    border: 2px solid #4f05d8;
}

.description-book
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 2rem;
}

.description-book label 
{
    font-size: 1.1rem;
    color: #4f05d8;
    align-self: start;
    margin-top: 10px;
    margin-left: 25px;
    font-weight: 600;
}
.description-book textarea
{
    padding: 10px 10px;
    margin-left: 25px;
    border-radius: 10px;
    width: 70%;
    height: 60px;
}

.container-btn
{
    width: 100%;
    margin-left: 25px;
    gap: 10px;
    display: flex;
}

.container-btn button
{
    padding: 7px 9px;
    background-color: #5600FA;
    color: white;
    border-radius: 10px;
    transition: .1s ease-in-out;
    margin-bottom: 10px;
    cursor: pointer;
}

.container-btn button:hover 
{
    background-color: #3e02af;
}