@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins';
}

body 
{
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(30deg, #47338b, #412f83, #433869, #7e5aff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container
{
    background-color: #e7e7f3;
    width: 35rem;
    border-radius: 10px;
    box-shadow: 10px 10px 7px #0000001c;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h1
{
    font-size: 1.6rem;
    width: 16rem;
    color: #1e134d;
    margin-bottom: 1.5rem;
    text-align: center;
    border-bottom: 1px solid ;
    border-radius: 3px;
}

form
{
    width: 100%;
}

.register-form
{
    width: 100%;
    height: 100%;
    display: flex; 
    margin-bottom: 10px;
    padding-left: 1.3rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

.register-form label
{
    font-size: 1.1rem;
    color: #4f05d8;
    
    margin-top: 10px;
    font-weight: 600;
}

.register-form input 
{
    width: 90%;
    padding: 10px 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
    background-color: white;
}
.register-form input:focus
{
    border: 2px solid #4f05d8;
}

.container-btn
{
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    gap: 8px;
    align-items: center;
}

.container-btn button
{
    background-color: #1c1538;
    padding: 6px 8px;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
}

.container-btn button:hover 
{
    background-color: #0d0a1a;
}

.container-btn button > a
{
    color: whitesmoke;
    text-decoration: none;
}